//Color
$defaultColor: #332f29;
$headingColor: #5a5861;
$bannerheadingColor: #ffffff;
$footerbgColor: #edecea;
$scrollbarbgColor: #f6f6f6;
$scrollbar2bgColor: #464646;
$borColor:#cccccc;

//font size

$font-root: 16px;
$font-base: 30px;
$font-title: 48px;
$font-heading:60px;

//line height
$line-height-root: 18px;
$line-height-base: 30px;
$line-height-custom: 1;

//font-weight

$font-weight-root: 500;
$font-weight-base: 600;



